 <h1> <%= @message.title %> </h1>
 <h2> <%= @message.description%> </h2>
<%= link_to "Back",root_path,class: "btn btn-default"=%>
 <%= link_to "Edit",edit_message_path(@message),class: "btn btn-default" %>
 <%= button_to "Delete", message_path(@message),method: :delete, data: { confirm:"Are you sure?" } =%>