<!DOCTYPE html>
<html>

  <body>
  	<div class="navbar navbar-default">
  		<div class="container">
  		
  			<div class="navbar-header">
  				<%=link_to "Message board",root_path, class:"navbar-brand"=%>
  			</div>

  			<ul class="nav navbar-nav">
  				<li><%=link_to "sign up",new_model_registration_path=%></li>
  					<%if model_signed_in?%>
  						<li><%=button_to "Sign out",destroy_model_session_path,method: :delete=%></li>
  					<%else%>
  						<li><%=link_to "log in",new_model_session_path=%> </li>
  					<%end%>
  			</ul>
  		<%if model_signed_in?%>
  			<p><%=link_to "new message",new_message_path ,class:"navbar-right navbar-text navbar-link"=%></p>
  		<<% end %>
  		</div>
  	</div>

  	  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  
  </body>
</html>
